.Likes {
  display: inline-flex;
  align-items: center;

  &-Icon {
    margin-right: 5px;
    width: 15px;
    height: 13px;
    fill: $likes-icon-color;
  }

  &-Count {
    font-size: 12px;
    color: $likes-count-color;
  }
}