$body-background: #f4f4f4;
$text-color: #666565;
$white: #fff;
$black: #000;
$green: #99d150;
$post-time-color: #909599;
$likes-count-color: $post-time-color;
$likes-icon-color: #eb5757;
$tag-color: $text-color;
$tag-background: #8dbe50;