extends templates/main

block title
  title Главная страница (На в самом деле поста, но пусть будет главной)

block content
  //- В ТЗ нет header, иначе раскомментировать
  //- include modules/Header/Header

  .container
    article.Post
      header.Post-Header
        .Post-HeaderInner
          .Post-HeaderImage(style="background-image: url(img/post-photo.png)")
      .Post-Content
        time.Post-DateOfCreate(datetime="2019-08-16") 16 сентября 2019
        h1.Post-Title Что выгоднее: заказать в магазине или купить в супермаркете?
        p ЕКАТЕРИНБУРГ, 28 июля. /ТАСС/. Здания двух комплексов общежитий для Всемирных студенческих игр 2023 года в Екатеринбурге уже построены. На объектах сейчас ведутся фасадные и внутренние работы, говорится в сообщении, распространенном в среду пресс-центром группы "Синара".
        p "На площадке Деревни Универсиады уже построены здания двух комплексов общежитий для спортсменов. Сейчас на них ведутся фасадные работы, устанавливаются системы отопления, вентиляции и электричества. На период Универсиады в пяти общежитиях будут жить 11 тыс. спортсменов, а после передачи Уральскому федеральному университету - 8,5 тыс. студентов", - говорится в сообщении.
        p В тексте указано, что строители монтируют элементы каркаса одного здания и ведут фундаментные работы на двух комплексах.
        p "В секторе спортивного манежа общественного центра Универсиады завершен монтаж каркаса здания, началось возведение монолитных конструкций. В режиме наследия в общественном центре появятся электронная библиотека, учебные и компьютерные классы, зал для конференций. На территории будущего тренировочного поля с легкоатлетическими дорожками завершена укладка геотекстильного полотна для выравнивания поверхности", - отмечается в тексте.
      footer.Post-Footer
        .Post-Content
          .Likes.Post-Likes
            svg.Likes-Icon(fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M7.27886 13L6.25982 12.0109C2.47481 8.76087 0 6.57065 0 3.88587C0 1.69565 1.74693 0 4.00337 0C5.24078 0 6.47818 0.565217 7.27886 1.4837C8.07953 0.565217 9.31694 0 10.5543 0C12.8108 0 14.5577 1.69565 14.5577 3.88587C14.5577 6.57065 12.0829 8.76087 8.2979 12.0109L7.27886 13Z")
            span.Likes-Count 12
          .Tags.Post-Tags
            a.Tags-Item(href="#") #компания
            a.Tags-Item(href="#") #общежитие

  //- В ТЗ нет footer, иначе раскомментировать
  //- include modules/Footer/Footer